// Margin
.m-n{margin: 0 }
.m-auto{margin: 0 auto}

.m-s{margin: $gutter-s}
.m-m{margin: $gutter-m}
.m-l{margin: $gutter-l}
.m-xl{margin: $gutter-xl}
.m-xxl{margin: $gutter-xxl}

.m-vr-s{margin: $gutter-s 0}
.m-vr-m{margin: $gutter-m 0}
.m-vr-l{margin: $gutter-l 0}
.m-vr-xl{margin: $gutter-xl 0}
.m-vr-xxl{margin: $gutter-xxl 0}

.m-hr-s{margin: $gutter-s 0}
.m-hr-m{margin: $gutter-m 0}
.m-hr-l{margin: $gutter-l 0}
.m-hr-xl{margin: $gutter-xl 0}
.m-hr-xxl{margin: $gutter-xxl 0}

.m-l-none{margin-left: 0 }
.m-l-s{margin-left: $gutter-s;}
.m-l-m{margin-left: $gutter-m;}
.m-l-l{margin-left: $gutter-l;}
.m-l-xl{margin-left: $gutter-xl;}
.m-l-xxl{margin-left: $gutter-xl;}

.m-r-none{margin-right: 0 }
.m-r-s{margin-right: $gutter-s;}
.m-r-m{margin-right: $gutter-m;}
.m-r-l{margin-right: $gutter-l;}
.m-r-xl{margin-right: $gutter-xl;}
.m-r-xxl{margin-right: $gutter-xl;}

.m-t-none{margin-top: 0 }
.m-t-s{margin-top: $gutter-s;}
.m-t-m{margin-top: $gutter-m;}
.m-t-l{margin-top: $gutter-l;}
.m-t-xl{margin-top: $gutter-xl;}
.m-t-xxl{margin-top: $gutter-xl;}

.m-b-none{margin-bottom: 0 }
.m-b-s{margin-bottom: $gutter-s;}
.m-b-m{margin-bottom: $gutter-m;}
.m-b-l{margin-bottom: $gutter-l;}
.m-b-xl{margin-bottom: $gutter-xl;}
.m-b-xxl{margin-bottom: $gutter-xl;}