// Color variables
$dark       : #2A3550;
$dark-light : #35415E;

$white      : #FFFFFF;

// gutter sizes
$gutter-xxl: 64px;
$gutter-xl: 32px;
$gutter-l: 16px;
$gutter-m: 8px;
$gutter-s: 4px;

// font family
$font-bold: 600;
$font-regular: 400;

//font sizes
$font-xxl: (32/16)+em;
$font-xl: (24/16)+em;
$font-l: (18/16)+em;
$font-m: (16/16)+em;
$font-s: (14/16)+em;
$font-xs: (12/16)+em;
$font-xxs: (11/16)+em;

$screen-s: 48em; // 768
$screen-md: 62em; // 992
$screen-lg: 75em; // 1200
